/* Override here any style definide by web-app-theme */


.feedtable{
	width: 100%;
	margin: 0px 20px;
	border-collapse:collapse;
	
	
}

.feedtable td {
	padding:3px;
	vertical-align: top;
	
}

.feedtable th {
	text-align: left;
	padding:3px;
	color:#FFFFFF;
}

.feedtable .headerrow {
	background-color: #7A1818;
	
}

.story{
	position: relative;
	
	
}

.story .odds {
	width: 200px;
	height:40px;
	float:right;
	margin:0px 0px 10px 10px;
	position: relative;
	border : solid 1px #CCCCCC;
	margin-right:3px;
	text-align:center;
}

ul.list {
	margin: 5px;
	padding:5px;
}

ul.list li {
	font-size: 12px;
	
}

.social_tags {
 	padding: 15px 0px 15px 0px;	
 	clear: both;
	height: 40px;
}

.social_tags div.tag {
 	margin:3px;
	border: solid 1px #CCCCCC;
	float:left;
	text-align:center;
	width:120px;
	font-size: 10px;
	height: 30px;
}


	
