/* Override here any style definide by web-app-theme */


.feedtable{
	width: 100%;
	margin: 0px 20px;
	border-collapse:collapse;
	
	
}

.feedtable td {
	padding:3px;
	
}

.feedtable th {
	text-align: left;
	padding:3px;
	color:#FFFFFF;
}

.feedtable .headerrow {
	background-color: #7A1818;
	
}

.story{
	position: relative;
	
	
}

.story .odds {
	width: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
	border : solid 1 px #CCCCCC;
}