/* Override here any style definide by web-app-theme */


.feedtable{
	width: 100%;
	margin: 0px 20px;
	border-collapse:collapse;
	
	
}

.feedtable td {
	padding:3px;
	vertical-align: top;
	
}

.feedtable th {
	text-align: left;
	padding:3px;
	color:#FFFFFF;
}

.feedtable .headerrow {
	background-color: #7A1818;
	
}

.story{
	position: relative;
	
	
}

.story .odds {
	width: 200px;
	height:40px;
	float:right;
	margin:0px 0px 10px 10px;
	position: relative;
	border : solid 1px #CCCCCC;
	margin-right:3px;
	text-align:center;
}

ul.list {
	margin: 5px;
	padding:5px;
}

ul.list li {
	font-size: 12px;
	
}

.social_tags {
 	padding: 5px 0px 5px 0px;	
 	clear: both;
	height: 20px;
}

.social_tags div.tag {
 	margin:3px;
	border: solid 1px #CCCCCC;
	float:left;
	text-align:center;
	width:120px;
	font-size: 10px;
	height: 30px;
}

.social_tags_dock {
	padding: 5px 0px 5px 0px;	
 	clear: both;
	height: 40px;
	
}

.social_tags_dock div.tag {
 	margin:0px 3px 3px 3px;
	border: solid 1px #CCCCCC;
	float:left;
	text-align:center;
	width:120px;
	font-size: 10px;
	height: 30px;
}

h3.dock{
	margin:2px;
}	

textarea.opinion {
	width:95%;
	height:60px;
	margin:10px 10px 10px 0px;
	padding:10px;
}

div.scorecastr{
	padding: 15px 0px 15px 0px;	
	
}

div.story_score{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0px 10px 10px 0px;
	border: solid 1px #CCC;
	
}

.dock_story{
	width:644px;
	float:left;
}

.dock_controls{
	width:214px;
	float:right;
	
}

div.trending{
	height :100px;
	padding:10px;
	margin:10px;
}

div.trending div {
	float:left;
	height:80px;
	width:180px;
	text-align:center;
	font-weight:bold;
	padding:5px;	
	
}

div.trending div.cheers {

	border-right: solid 1px #CCCCCC;
}

div.trending div.activity {

	border-right: solid 1px #CCCCCC;
	
}

div.trending div.jeers {
	
}

div.trending div div.score{
	height:auto !important;
	float:left;
}

div.trending div div.this_week{
	width:50%;
	
	
}

div.trending div div.all_time{
	width:30%;
	text-align:right;
	
}

div.social_opinion{
	clear:both;
}

div.comment{
	margin:3px 0px;
	border: solid 1px #CCC;
	
}

div.comment_header{
	padding:3px;
	background-color: #CCC;
} 

div.comment_text{
	padding:10px;
	
}


	
