



<% @stories.each do |story| %>
  <div class="story">
		
		<div class="details">

			
			<h2><a href="/story/<%=story.id%>" target="_blank"><%= story.title %></a></h2>
			<p><%= story.summary %></p>
    		<div class="social_tags">Social Tags</div>
			<div class="socail_opinion">Opinion</div>
			<div class="scorecastr">Pick the Score</div>
		</div>
		
		<div class="odds">
				team a v team b some odds
		</div>
		
				
		
  </div>
<% end %>


<br />

