<div class="story">
<%= render :partial => "stories/story", :locals => {:story=>@story ,:dock=>true}%>


<%= render :partial => "stories/social_tag_cloud", :locals => {:story_tags=>@story.story_tags}%>
</div>